<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light shadow-sm">
    <%= link_to "FindCoin", root_path, class:"navbar-brand" %>
     <%= form_with(url: search_path, local: true, method: :get, class:"form-inline mt-2 mt-md-0") do |form| %>
        <div class="form-group">
          <%= form.text_field :coin, class:"form-control", placeholder:"Pesquisa de moeda" %>
        </div>
        <button type="submit" class="btn btn-primary">search</button>
      <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</header>